* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: block;
    height: 100%;
}

body {
    overflow: auto;
    overscroll-behavior: none;
    font-family: sans-serif;
}

.container {
    padding: 5%;
}

.container h2 {
    margin-bottom: 4%;
    font-size: 1.8rem;
}

.container p {
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 5%;
}

.arrow {
    position: fixed;
    z-index: 100;
    bottom: 3%;
    right: 3%;
    display: unset;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s;
}

.arrow button {
    border: none;
    cursor: pointer;
    background: black;
    padding: 15px;
    border-radius: 50px;
    transition: transform ease-in-out 200ms;
}

.arrow button i {
    font-size: 2em;
    color: white;
}

.arrow button:hover {
    transform: translateY(-6px);
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}